@font-face {
  font-family: "Lato Regular";
  src: url("./public/fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: "Lato Italic";
  src: url("./public/fonts/Lato-Italic.ttf");
}

@font-face {
  font-family: "Lato Bold";
  src: url("./public/fonts/Lato-Bold.ttf");
}

@font-face {
  font-family: "Lato Black";
  src: url("./public/fonts/Lato-Black.ttf");
}

* {
  padding: 0;
  margin: 0;
}

.container {
  width: 1020px;
  margin: 0 auto;
}

.header {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Lato Bold", sans-serif;
  text-transform: uppercase;
  background-color: #2d303a;
  border-bottom: 7px solid #323746;
}

.logo {
  margin: 0 40px;
}

.logo__title {
  font-size: 25px;
  line-height: 6px;
  color: #ffffff;
}

.logo__asterisk {
  color: #f06c64;
}

.main-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #ffffff;
  margin: 0 40px;
}

.main-menu__item {
  position: relative;
  font-size: 12px;
  line-height: 6px;
  padding: 0 15px;
  list-style: none;
}

.main-menu__item:not(:first-child)::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: #424657;
}

.main-menu__item:hover {
  color: #f06c64;
  cursor: pointer;
}

/*-----------------------mobile section-----------------------*/

.mobile__slider {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 53px 112px 78px;
  background: #f06c64;
}

.mobile__slider::before,
.mobile__slider::after {
  content: '';
  position: absolute;
  top: 50%;
  width: 15px;
  height: 26px;
}

.mobile__slider:hover::before,
.mobile__slider:hover::after {
  cursor: pointer;
}

.mobile__slider::before {
  left: 40px;
  background-image: url("./public/img/arrow-left.svg");
}

.mobile__slider::after {
  right: 40px;
  background-image: url("./public/img/arrow-right.svg");
}

.mobile__item {
  width: 215px;
  height: 460px;
  border-radius: 27px;
  background-image: url("./public/img/mobile.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.mobile__item--horizontal {
  -webkit-box-shadow: 25px 25px 0 0 #ce5d56;
  -moz-box-shadow: 25px 25px 0 0 #ce5d56;
  box-shadow: 25px 25px 0 0 #ce5d56;
}

.mobile__item--vertical {
  transform: translate(-122px, 0) rotate(90deg);
  -webkit-box-shadow: 25px -25px 0 0 #ce5d56;
  -moz-box-shadow: 25px -25px 0 0 #ce5d56;
  box-shadow: 25px -25px 0 0 #ce5d56;
}

.mobile__screen {

}

.mobile__screen--horizontal {
  width: 188px;
  height: 333px;
  background-repeat: no-repeat;
  background-position: -12px -134px;
  background-image: url("./public/img/layer-horizontal.svg");
  transform: translate(13px, 61px);
}

.mobile__screen--vertical {
  width: 333px;
  height: 188px;
  background-repeat: no-repeat;
  background-position: -125px -119px;
  background-image: url("./public/img/layer-vertical.svg");
  transform: translate(-60px, 133px) rotate(-90deg);
}

/*----------------------------------------services-----------------*/

.services__wrapper {
  padding: 68px 40px;
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}

.services__title {
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato Black", sans-serif;
}

.services__desc {
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: "Lato Regular", sans-serif;
  padding: 33px 0 50px;
}

.details {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-gap: 35px 20px;
}

.details__item {
  display: flex;
}

.details-img__wrapper {
  min-width: 59px;
  height: 59px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid #666d89;
}

.details__wrapper {
  padding-left: 20px;
}

.details__title {
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato Black", sans-serif;
  padding-bottom: 15px;
}

.details__desc {
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-family: "Lato Regular", sans-serif;
}

















