.portfolio {
  padding: 68px 40px 66px;
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

.portfolio__title {
  color: #666d89;
}

.portfolio__desc {
  letter-spacing: -.45px;
  color: #767e9e;
  padding: 28px 0 9px;
}

.tags {
  display: flex;
  width: fit-content;
}

.tags__btn {
  box-sizing: border-box;
  font-size: 1.2rem;
  letter-spacing: -0.1px;
  color: #767e9e;
  border-radius: 5px;
  border: 1px solid #767e9e;
  background-color: transparent;
  padding: 3px 7px;
  margin-right: 9px;
  transition: box-shadow 0.2s;
}

.tags__btn {
  transition: transform 0.2s;
}

.tags__btn:hover {
  color: #dedede;
  border-color: #dedede;
  -webkit-box-shadow: 1px 1px 0 0 #767e9e;
  -moz-box-shadow: 1px 1px 0 0 #767e9e;
  box-shadow: 1px 1px 0 0 #767e9e;
  transform: translate(-1px, -1px);
}

.tags__btn--active {
  color: #ffffff;
  border-color: #ffffff;
}

.portfolio__img {
  padding-top: 20px;
}

.portfolio-img__wrapper {
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(4, 1fr);
  grid-gap: 20px;
}

.portfolio-img__item {
  position: relative;
  width: 220px;
  height: 187px;
  box-sizing: border-box;
  border: 5px solid transparent;
  overflow: hidden;
}

.portfolio-img__item img{
  position: absolute;
}

.portfolio-img__item--active {
  border: 5px solid #F06C64;
}

.portfolio-img__item:nth-child(n+13) {
  display: none;
}

.portfolio-img__item--1 img {
  top: -17px;
  left: -13px;
}

.portfolio-img__item--2 img {
  top: -49px;
  left: -87px;
}

.portfolio-img__item--3 img {
  top: -7px;
  left: -16px;
}

.portfolio-img__item--4 img {
  top: -8px;
  left: -29px;
}

.portfolio-img__item--5 img {
  top: -22px;
  left: -15px;
}

.portfolio-img__item--6 img {
  top: -10px;
  left: -21px;
}

.portfolio-img__item--7 img {
  top: -45px;
  left: -36px;
}

.portfolio-img__item--8 img {
  top: -38px;
  left: -29px;
}

.portfolio-img__item--9 img {
  top: -8px;
  left: -21px;
}

.portfolio-img__item--10 img {
  top: -119px;
  left: -146px;
}

.portfolio-img__item--11 img {
  top: -181px;
  left: -149px;
}

.portfolio-img__item--12 img {
  top: -67px;
  left: -41px;
}

/*----------about----------------*/

.about {
  padding: 68px 40px;
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}

.about__title {
  letter-spacing: -.8px;
  color: #666d89;
}

.about__desc {
  letter-spacing: -.5px;
  color: #767e9e;
  padding: 27px 0 46px;
}

.employee__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.employee__card {
  display: flex;
  flex-direction: column;
}

.employee__photo {
  width: 300px;
  height: 300px;
  object-fit: contain;
}

.employee__name {
  font-size: 1.8rem;
  line-height: 1.8rem;
  letter-spacing: -0.9px;
  color: #666d89;
  font-family: "Lato Black", sans-serif;
  padding-top: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.employee__desc {
  font-size: 1.2rem;
  line-height: 2.2rem;
  letter-spacing: -0.1px;
  color: #767e9e;
  font-family: "Lato Regular", sans-serif;
  text-align: justify;
  padding: 9px 0 22px;
}

.share {
  display: grid;
  grid-template-columns: repeat(4, 32px);
  grid-gap: 8px;
}

.share__item {
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #666d89;
  border-radius: 16px;
  text-decoration: none;
  transition: 0.3s;
}

.share__item > .fa {
  font-size: 1.4rem;
  color: #666d89;
  text-decoration: none;
}

.share__item:hover {
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 0 0 #666d89;
  -moz-box-shadow: 1px 1px 0 0 #666d89;
  box-shadow: 1px 1px 0 0 #666d89;
  transform: translate(-1px, -1px);
}

@media (min-width: 768px) and (max-width: 1020px) {
  .portfolio {
    padding: 60px 40px 65px;
  }

  .portfolio-img__wrapper {
    grid-template: repeat(4, 1fr) / repeat(3, 1fr);
  }

  .portfolio__img {
    padding-top: 28px;
  }

  .portfolio-img__item {
    width: 216px;
  }

  .about {
    padding: 52px 40px 75px;
  }

  .employee__wrapper {
    grid-template-columns: repeat(3, 32%);
  }

  .employee__photo {
    width: 100%;
    height: auto;
  }
}

