.feedback {
  color: #f0d8d9;
  background-color: #f06c64;
  padding: 67px 40px 21px;
}

.feedback__title {
  letter-spacing: -0.7px;
}

.feedback__desc {
  letter-spacing: -.5px;
  margin: 27px 0 43px;
  text-align: justify;
}

.quote {
  display: grid;
  grid-template-columns: 620px auto;
  grid-gap: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__item {
  color: #ffffff;
  border: 0;
  border-radius: 5px;
  background-color: #d6564f;
  padding: 12px 15px;
  margin-bottom: 14px;
  outline: none;
  font-size: 1.2rem;
  font-family: "Lato Regular", sans-serif;
}

textarea.form__item {
  padding: 8px 15px 12px;
  resize: none;
}

.form__item::placeholder {
  letter-spacing: -0.3px;
  font-size: 1.2rem;
  line-height: 2.2rem;
  font-family: 'Lato Regular',sans-serif;
  color: #f48c8f;
}

.form__submit {
  align-self: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-family: 'Lato Bold',sans-serif;
  color: #f0d8d9;
  border: 0;
  border-radius: 30px;
  background-color: #d1423a;
  padding: 10px 35px;
  transition: 0.3s;
}

.form__submit:hover {
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 0 0 #af3029;
  -moz-box-shadow: 1px 1px 0 0 #af3029;
  box-shadow: 1px 1px 0 0 #af3029;
  transform: translate(-1px, -1px);
}

.contact {
  font-size: 1.2rem;
  line-height: 2.2rem;
  font-family: "Lato Regular", sans-serif;
  color: #f0d8d9;
}

.contact__title {
  font-size: 1.8rem;
  line-height: 1.8rem;
  letter-spacing: -.3px;
  font-family: "Lato Black", sans-serif;
  color: #f0d8d9;
  margin-top: 2px;
  margin-bottom: 9px;
}

.contact__desc {
  letter-spacing: -0.4px;
  text-align: justify;
  margin-bottom: 20px;
}

.info {
  display: flex;
  flex-direction: column;
}

.fa {
  justify-self: center;
}

.fa-phone {
  transform: rotate(-90deg);
}

.info__item {
  display: grid;
  grid-template-columns: 15px auto;
  align-items: center;
  grid-gap: 8px;
  text-decoration: none;
  color: #f0d8d9;
}

.info__item:visited {
  color: #d1423a;
}

.info__item:hover {
  color: #ffffff;
}

.modal {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  overflow: auto;
  z-index: 2;
  background: rgba(0, 0, 0, 0.3);
}

.modal__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  min-height: 30%;
  font-family: "Lato Regular", sans-serif;
  font-size: 2rem;
  color: #2d303a;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
  -moz-box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.75);
  background: #c6c6c6;
  padding: 30px 50px;
  margin: auto;
}

.modal__title {
  text-align: center;
  color: #ad2f28;
  margin-bottom: 20px;
}

.modal__subtitle {
  font-family: "Lato Bold", sans-serif;
  color: #ad2f28;
}

.modal__info {
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  text-transform: capitalize;
  padding: 5px;
  margin-bottom: 20px;
}

.close {

}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ad2f28;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #79201c;
}

/*------footer---------------*/

.footer {
  height: 76px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2d303a;
  padding: 0 40px 0 41px;
}

.copyright {
  font-size: 1.2rem;
  font-family: "Lato Regular", sans-serif;
  color: #666d89;
}



